{% extends 'base.html.twig' %}

{% block body %}

<div class="holder">
    <span class="title">Carrito de compras</span>
    <a href="" class="btn-light">Salir</a>
    <a href="" class="btn-light">Ver carrito</a>
</div>
<h2>Lista productos</h2>

{% endblock %}